* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
background-color: #0f1e13;
background-image: url('fondo-hojas.png'); /* Usa tu imagen de fondo */
background-size: cover;
background-position: center;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
    background-color: #e8d2b3;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    color: #2d3a31;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.button.ver {
    background-color: #2d3a31;
    color: white;
}

.button.confirmados {
    background-color: #4a6d57;
    color: white;
}

.button.balance {
    background-color: #8b5e3c;
    color: white;
}
.button.cerrar {
    background-color: rgb(182, 0, 0);
    color: white;
}

.button.agregar {
    background-color: #375A54;
    color: white;
}

.button:hover {
    opacity: 0.8;
}